<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi>
    <link rel="stylesheet" href="./style.css">
    <title> Corner Time shop:Get, Buy, Own a Time </title>
</head>

<body>
<!-- header -->
    <header>
        <div class="header_wrap">
            <li><a href="#" target="_self">↑ 처음으로 돌아가기</a></li>
        </div>
    </header>

<!-- Cover -->
    <div class="background">
        <img src="./asset/poster.png" alt="" />
    </div>
    <div class="main">
        <h2>Corner Time shop:Get,Buy,Own a Time </h2>
    </div>

<!-- Image gallery -->
    <div class="row">
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
        <div class="column">
            <img src="./asset/Time.png" alt="" style="width:100%">
        </div>
    </div>


<!-- Contents -->
    <div class="contents">
        <h1>Prompt A. Time & Space</h1>
    </div>

    <div class="contents">
        <p><span> Time, time, 시간 </p>
    </div>
    <div class="contents">
        <p><span>시간에는 물리적 실체가 없다. 그렇기에 소유할 수도 없고, 어떤 흔적도 남기지 않은 채 일방향으로 흘러간다. 정말 그러한가? 
            여기, 시간을 파는 자판기가 있다. 코인을 자판기에 넣고 레버를 돌려 이 공간을 점유할 시간을 구매하라. 
            재화의 지불 후, 시간은 '사탕'의 형태로 당신의 손에 쥐어진다. 
            그렇게 당신의 소유가 된 사탕―시간―을 용도에 맞게 사용하는 방법은 간단하다 : 입에 넣고 굴리며, 주어진 만큼 사유하는 것. 
            그 결과 당신이 이 공간을 만끽했을때, 시간은 빌려온 형태와 같이 녹아 사라졌을 것이다. 
            남은 것은 혀 끝에 남은 달콤함, 당신이 이 시간을 통해 보고 느낀 모든 것. </span>
        </p>
        <p>이것이 시간의 본질이다 : 자본을 통해 소유 가능하며, 입 안의 사탕처럼 금새 녹아 사라지고도 잔상을 남기는 것이.<br>
    </div>

    <div class="figure">
        <img loading="lazy" width="980" src="./asset/p2.png" alt="">
        <figcaption>사탕의 초안, 포스터화, 최종 포스터화 </figcaption>
    </div>

    <div class="contents">
        <p>시간의 구매가능성, 소모성을 표현하기위한 수단으로 '사탕'을 빌려왔다. 손 안에 들어올 크기에, 섭취를 통한 사용이 쉽고, 사용이 종료된 후에는 흔적없이 사라질 것. 그러나 달콤한 감상을 남기는. </p>
    </div>

    <div class="figure">
        <img loading="lazy" width="980" src="./asset/sketch1.png" alt="">
        <figcaption> 사탕의 실물, 270*270mm </figcaption>
    </div>

    <div class="contents">
        <p>사탕을 캡슐에 담아 보관했다. 레버를 돌려 사탕을 뽑아 입 안에 넣고 굴리며 시간이 다 소모될때까지 내키는대로 그 시간과 공간을 소유하라. </p>
    </div>

    <div class="figure">
        <img loading="lazy" width="980" src="./asset/process1.png" alt="">
        <figcaption>실물 설치물, 400*400*1150 </figcaption>
    </div>

    <div class="contents">
        <p>250*250*450 / 400*400*1150 <br>
        상단의 머신의 크기가 250*250*450, 하단의 받침대가 400*400*710으로 총 높이가 1150 가량으로 예상합니다. </p>
    </div>

<!-- References -->
    <div class="contents">
        <h1>Time & Space Collection</h1>
    </div>
    
    <div class="contents">
        <table>
            <tr>
                <td>자크 데리다의 ‘해체’</td>
            </tr>
            <tr>
                <td>요나스 메카스와 피터 쿠벨카의 ‘앤솔로지 필름 아카이브'</td>
            </tr>
            <tr>
                <td>미국의 작곡가 존 케이지(왼쪽 사진)가 1952년 발표한 〈4분33초〉의 악보</td>
            </tr>
            <tr>
                <td>박력과 생기 force and liveliness</td>
            </tr>
            <tr>
                <td>Teatro del Mondo 베니스 세계극장 by 알도 로시 Aldo Rossi 1979</td>
            </tr>
            <tr>
                <td>Chora L Works: Jacques Derrida and Peter Eisenman</td>
            </tr>
            <tr>
                <td>박력과 생기 force and liveliness</td>
            </tr>
            <tr>
                <td>Teatro del Mondo 베니스 세계극장 by 알도 로시 Aldo Rossi 1979</td>
            </tr>
        </table>
    </div>

<!-- About -->
<div class="contents">
    <h1>Hyunsou Kim</h1>
</div>

<div class="contents">
    <p>
        <span>Instagram: </span>
        <a href="https://www.instagram.com/hs.off_?igsh=MWZmcDQyNzd4OHplNw==" target="_blank">@hs.off_</a>
    </p>
    <p>
        <span>Mail: </span>
        <a href="mailto:hesian13@gmail.com" target="_blank">hesian13@gmail.com</a>
    </p>
</div>


<!-- Go to top -->
    <div class="contents">
        <p><h1><a href="#" target="_self">↑ 처음으로 돌아가기</a></h1></p>
    </div>
</body>


</html>